<!DOCTYPE html>
<html>
<head>
  <style>
    p {
      color: blue;
      font-size: 18px;
    }

    button {
      background-color: green;
      color: white;
      padding: 6px 12px;
      border: none;
    }
  </style>
</head>
<body>

  <p>Hello CSS</p>
  <button>Click me</button>

</body>
</html>
